{% extends 'base.html' %}
{% block head %}
    <title>Blog</title>
{% endblock head %}
{% block body %}
<div class="container">
    <h1>Posts</h1>
    {% if tag_name is not None %}
        <h2>for tag {{ tag_name }}</h2>
    {% endif %}
    {% for post in posts %}
        <a href="{{ post.get_absolute_url }}">
        <h1>{{ post.title }}</h1>
        </a>
        <p>{{ post.body | safe | linebreaks }}</p>
        <p>Posted on {{ post.created_on }}</p>
    {% endfor %}

</div> 
{% endblock body %}